<section class="contact-section wrapper" id="contact-section">
  <div class="inner">
    <div class="section-heading">
      <h2 class="heading-primary">contact...</h2>
    </div>
    <div class="section-lead">
      <p>
        お問い合わせは、<br class="sp-only">SNSもしくはメールにてお願い致します。
      </p>
    </div>
    <div class="section-body contact">

      <div class="contact-item">
        <%= link_to 'https://twitter.com/kii_84r', class: "contact-link"  do %>
          <i class="fab fa-twitter"></i>
        <% end %>
      </div>

      </div>
  </div>
</section>

<footer class="footer">
  <div class="inner">
    <div class="copyright">&copy;kazuki namkamura.</div>
  </div>
</footer>
