 <nav class="gnav" class="fixed">
  <ul class="gnav-list">
  <div class="gnav-item gnav-link"><span class="moon">🌙</span></div>
   <input id="menu" type="checkbox"/>
    <label for="menu" class="open">
      <i class="fas fa-bars"></i>
    </label>
    <label for="menu" class="back"></label>
    <aside>
    <label for="menu" class="close">✖</label>
    <li class="gnav-item"><a class="gnav-link" href="#top-section">Top</a></li>
    <li class="gnav-item"><a class="gnav-link" href="#profile-section">Profile</a></li>
    <li class="gnav-item"><a class="gnav-link" href="#works-section">Works</a></li>
    <li class="gnav-item"><a class="gnav-link" href="#skill-section">Skill</a></li>
    <li class="gnav-item"><a class="gnav-link" href="#contact-section">Contact</a></li>
    </aside>
  </ul>
</nav>

<section class="top-section" id="top-section">  
  <header class="header">
    <h1 class="logo">
      <br><br><br><br><br><br><br><br>
      <div class="logo-title">KAZUKI NAKAMURA</div>
      <div class="logo-subtitle">Portfolio*</div>
    </h1>
  </header>
</section>