 <nav class="gnav" class="fixed">
  <ul class="gnav-list">
  <div class="gnav-item gnav-link"><span class="moon">🌙</span></div>
    <li class="gnav-item"><a class="gnav-link" href="#top-section">Top</a></li>
    <li class="gnav-item"><a class="gnav-link" href="#profile-section">Profile</a></li>
    <li class="gnav-item"><a class="gnav-link" href="#works-section">Works</a></li>
    <li class="gnav-item"><a class="gnav-link" href="#skill-section">Skill</a></li>
    <li class="gnav-item"><a class="gnav-link" href="#contact-section">Contact</a></li>
  </ul>
</nav>