/* gnav */

.gnav {
  position: fixed;
  height: 63px;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.89);
  -webkit-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .2);
  box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .2);
}

.moon {
  font-size: larger;
}

.gnav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  padding-left: 30px;
}

.gnav-item {
  font-family: "Open sans", sans-serif;
  font-size: 16px;
  padding-left: 33px;
  padding-top: 6px;
  letter-spacing: .05em;
}

.gnav-link {
  position: relative;
  display: inline-block;
  padding: 20px 0;
  -webkit-transition: .3s;
  transition: .3s;
  color: rgba(196, 196, 196, 0.678);
  font-family: 'Inter', sans-serif;
}

.gnav-link:hover {
  opacity: 1;
  color: rgba(238, 214, 106, 0.747);
}

/* iOS対策 */

.ios .gnav-link:after,
.ios .gnav-link:hover:after {
  display: none;
}

/* header */

.header {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100vw;
  height: 51vw;
  background-color: rgba(8, 44, 112, 0.822);
  font-family: serif;
}

.logo {
  position: relative;
  margin-bottom: 30px;
  padding: 0 20px;
  text-align: center;
  color: rgba(240, 236, 212, 0.904);
  transition: .8s;
  width: 95vw;
}

.logo:hover {
  color: rgba(235, 219, 133, 0.815);
}

.logo-title {
  font-family: serif;
  font-size: 64px;
  line-height: 1;
  letter-spacing: .2em;
  text-align: right;
}

.logo-subtitle {
  font-size: 20px;
  margin-top: 5px;
  text-align: right;
  letter-spacing: .2em;
}

@media screen and (max-width: 812px) {

}